.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1240px;
  width: 100%;
  min-height: 1000px;
  margin: 20px 0 0 0;
  background-color: #d4cfff;
  border-radius: 20px;
}
